<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/navbar'); %>
        <main class="container">
            <div class="starter-template text-center py-5 px-3">
                <h1>Forgot Password</h1>
                <p class="lead">
                    Enter your email here so we can recover your password via
                    email
                </p>
                <form action="/forgot_password" method="POST">
                    <div class="row g-3 justify-content-center">
                        <div class="col-4">
                            <input
                                type="email"
                                id="email"
                                name="email"
                                class="form-control"
                                placeholder="Enter your email here"
                                required
                            />
                        </div>
                    </div>
                    <br />
                    <% if(alert != null) {%>
                    <div
                        class="alert <%= alert.type%> alert-dismissible fade show"
                        role="alert"
                    >
                        <h4 class="alert-heading"><%= alert.title%></h4>
                        <p><%= alert.message%></p>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"
                        ></button>
                    </div>
                    <%}%> <% if(alert == null || alert.type == "alert-danger")
                    {%>
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                    <% }%>
                </form>
                <% if(alert != null && alert.type == "alert-success") {%>
                <br />
                <form action="/new_password" method="POST">
                    <input type="hidden" name="_id" value="<%= alert.id%>" />
                    <div class="row g-3 justify-content-center">
                        <div class="col-4">
                            <input
                                type="password"
                                id="password"
                                name="password"
                                class="form-control"
                                placeholder="Enter your new password"
                                required
                            />
                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">
                        Update my password
                    </button>
                </form>
                <%}%>
            </div>
        </main>
    </body>
</html>
