<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="coverImg">
        <% if(isAuthenticate) {%>
        <%- include('../partials/navbar-auth'); %>
        <% }else{ %>
        <%- include('../partials/navbar'); %>
        <% } %>
    </div>
    <h2 style="color: white; margin-top: -110px; padding-left: 50px;">Menu List</h2>

    <main class="container" id="containerId">
        <div class="starter-template py-4 px-6 ">

            <form class="my-5 searchForm">
                <div class="form-group">
                    <div class="input-group input-group-lg mb-3">
                        <input class="form-control" id="inputText" name="searchResult" type="text"
                            placeholder="search for a product" />
                    </div>
                </div>
            </form>
            <div class="text-center pt-4" style="padding-bottom: 20px;">
                <a href="<%= isAuthenticate ? '/home' : '/' %>" class="btn btn-lg button btn-primary" id="btn-MenuList">
                    Home Page</a>
                <a href="/cart" class="btn btn-lg btn-primary" id="btn-MenuList">Proceed to Cart</a>
            </div>
            <div id="noResultsMessage" class="alert alert-danger text-center font-weight-bold"></div>

            <div class="productsContainer">
                <% product.forEach(function(product){ %>

                <form method="post" action="/createOrder" class="productForm show">
                    <input type="hidden" name="title" value="<%= product.title %>">
                    <input type="hidden" name="content" value="<%= product.content %>">
                    <input type="hidden" name="price" value="<%= product.price %>">
                    <% if (userId != null){ %>
                    <input type="hidden" name="user" value="<%= userId %>">
                    <% } %>
                    <input type="hidden" name="temporaryId" value="<%= Math.random() %>">

                    <div id="border" class="row">
                        <div hidden>Id: <%= product.productId %> </div>
                        <div class="col-3" style="padding-right: 10px; padding-top: 10px;">
                            <img src="<%= product.productImagePath%>" alt="product-<%= product.productId%>-img"
                                style="height: 95%; width: 100%;">
                        </div>
                        <div class="col-9" style="padding-top: 25px;">
                            <div class="title">
                                <h3 style="text-transform: capitalize; "><%= product.title %></h3>
                            </div>
                            <div class="content" style="padding-left: 15px; padding-bottom: 15px;">
                                <%= product.content %></div>
                            <div class="row" style="padding-left: 25px;">
                                <div class="col-3">
                                    <h5> $ <%= product.price %></h5>
                                </div>
                                <div class="col-2" style="text-align: right; font-size: xx-large;">
                                    <h5>Quantity:</h5>
                                </div>
                                <div class="col-2" style="padding: 0px;">
                                    <input type="number" class="form-control" name="quantity" min="1" value="1"
                                        oninput="validity.valid||(value='');" placeholder="Quantity" value="" />
                                </div>
                                <div class="col-3" style="text-align: right; padding-right: 15px;">
                                    <input type="submit" class="btn btn-sm btn-success" value="Add to cart"
                                        style="width: 200px; border-radius: 0px;" id="btnCheckoutPg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </form>

                <% })%>
            </div>

            <script>
                // jQuery Live Search for products //

                $('#noResultsMessage').hide();

                $('#inputText').on('keyup', function () {
                    var inputText = $(this).val();
                    var rowCount = $('.productForm').length;
                    $('.productForm').each(function () {
                        rowCount++;
                        if (rowCount !== 0) {
                            var title = $(this).find('.title').text();
                            var content = $(this).find('.content').text();
                            if (title.toLowerCase().indexOf(inputText.toLowerCase()) === -1 &&
                                content.toLowerCase().indexOf(inputText.toLowerCase()) === -1) {
                                $(this).removeClass('show');
                                $(this).hide();
                                rowCount--;
                            } else {
                                $(this).show();
                                $(this).addClass('show');
                            }
                        }
                    });

                    if ($('.show').length + 1 > 1) {
                        $('#noResultsMessage').hide();
                        $('.productsContainer').show();
                    } else {
                        $('#noResultsMessage')
                            .show()
                            .text('Sorry, we couldn\'t find any products related to "' + inputText + '"');
                        $('.productsContainer').hide();
                    }
                });
            </script>
        </div>
    </main>
</body>

</html>