<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/navbar-auth'); %>
    <main class="container">
        <div class="starter-template text-center py-5 px-3">
            <h1>
                Hello <%= user.firstName%> <%= user.lastName%>, you can edit
                your profile here
            </h1>
            <form action="/" method="POST">
                <input type="hidden" name="_id" value="<%= user._id%>" />
                <div class="row g-3 justify-content-center">
                    <div class="col-2">
                        <label for="firstName" class="col-form-label">First Name</label>
                    </div>
                    <div class="col-3">
                        <input type="text" id="firstName" name="firstName" class="form-control"
                            value="<%= user.firstName%>" />
                    </div>
                </div>
                <br />
                <div class="row g-3 justify-content-center">
                    <div class="col-2">
                        <label for="lastName" class="col-form-label">Last Name</label>
                    </div>
                    <div class="col-3">
                        <input type="text" id="lastName" name="lastName" class="form-control"
                            value="<%= user.lastName%>" />
                    </div>
                </div>
                <br />
                <div class="row g-3 justify-content-center">
                    <div class="col-3">
                        <input type="password" id="password" name="password" class="form-control"
                            placeholder="Enter password to confirm the change" />
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </form>
        </div>
    </main>
</body>

</html>