<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/navbar-auth'); %>
    <main class="container">
        <div class="starter-template text-center py-5 px-3">
            <h1>
                Hello <%= user.firstName%> <%= user.lastName%>, you can the password here
            </h1>
            <form action="/profile/change-password" method="POST">
                <input type="hidden" name="_id" value="<%= user._id%>" />
                <div class="row g-3 justify-content-center">
                    <div class="col-2">
                        <label for="currentPassword" class="col-form-label">Current Password</label>
                    </div>
                    <div class="col-3">
                        <input type="password" id="currentPassword" name="currentPassword" class="form-control"
                            placeholder="Confirm your current password" />
                    </div>
                </div>
                <br />
                <div class="row g-3 justify-content-center">
                    <div class="col-2">
                        <label for="" class="col-form-label">New Password</label>
                    </div>
                    <div class="col-3">
                        <input type="password" id="" name="" class="form-control"
                            placeholder="Enter your new password" />
                    </div>
                </div>
                <br />
                <div class="row g-3 justify-content-center">
                    <div class="col-2">
                        <label for="newPassword" class="col-form-label">Confirm New Password</label>
                    </div>
                    <div class="col-3">
                        <input type="password" id="newPassword" name="newPassword" class="form-control"
                            placeholder="Confirm your new password" />
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </form>
        </div>
    </main>
</body>

</html>